:root {
  --background-color: rgb(241, 245, 242);
  --font-color: #063816;
  --link-color: rgb(0, 129, 49);
  --link-hover-color: rgb(0, 188, 72);
}

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: 0;
  background-color: var(--background-color);
  font-family: 'Red Hat Display', sans-serif;
  color: var(--font-color);
}

#root {
  height: calc(100dvh - 1.5rem);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: clamp(17rem, 100%, 70rem);
  max-width: 90rem;
  margin: auto;
  min-height: calc(100% - 9rem)
}

p {
  max-width: 50rem;
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-color);
}

h1 {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #064210;
  color: white;
  width: 100vw;
  padding: 0.5rem;
  text-align: center;
}

button {
  background-color: rgb(38, 136, 52);
  border-radius: 0.5rem;
  border: solid 0.1rem rgb(134, 169, 139);
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-size: 1.15rem;
  line-height: 1.5;
  padding: 1rem 1.5rem;
  text-align: center;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
}

@media (hover:hover) {

  a:hover,
  .platform-link:hover {
    color: var(--link-hover-color);
    text-shadow: 0 0 0.25rem rgba(166, 234, 196, 0.333);
  }

  a:has(.platform-link) {
    color: inherit;
    text-shadow: inherit;
  }

  button:hover {
    background-color: rgb(24, 108, 59);
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }
}

button:active {
  transform: translateY(0.1rem);
  transition-duration: .35s;
}

section {
  text-align: center;
}

figure {
  margin: 1rem;
  width: 9rem;
  max-height: 20rem;
  text-overflow: ellipsis;
}

figcaption {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

figure img {
  width: 100%;
}

.small {
  font-size: 0.8rem;
  max-height: 2rem;
}

.playlist-title {
  font-weight: bold;
  font-size: 0.96rem;
  margin: 0.5rem;
  margin-bottom: 0.25rem;
  max-height: 2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.playlist-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.small-icon {
  font-size: 1.5rem;
  width: 2rem;
}

.fa-spotify {
  color: #1cd760;
}

.fa-deezer {
  color: #972787;
}

.fa-itunes-note {
  color: #fa233d;
}

.loading-status {
  text-align: center;
  margin: 0 1rem;
  margin-bottom: 1rem;
}

progress {
  display: block;
}

input,
textarea {
  font-family: "Red Hat Display", sans-serif;
  -webkit-appearance: none;
  appearance: none;
  padding: 1rem;
  border: 0.1rem solid #91c6a9;
  border-radius: var(--border-radius);
  background-color: rgb(255, 255, 255);
  color: #0f5833;
  width: clamp(17rem, 90vw, 28rem);
}

input {
  font-size: 1.3rem;
}

textarea {
  font-size: 1rem;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #86a694;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #86a694;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0.75rem #60a37d;
}

.grecaptcha-badge {
  visibility: hidden;
}