@media (hover:hover) {
    .share-link:hover .copy-icon {
        color: var(--link-hover-color);
        text-shadow: 0 0 0.25rem rgba(166, 234, 196, 0.333);
    }

    .share-link:hover {
        background: rgb(242, 255, 249);
    }
}

.share-link {
    font-family: "Red Hat Display", sans-serif;
    align-self: center;
    -webkit-appearance: none;
    appearance: none;
    padding: 1rem;
    border: 0.1rem solid #91c6a9;
    font-size: 1.3rem;
    text-align: center;
    border-radius: var(--border-radius);
    background-color: rgb(242, 255, 249);
    color: #0f5833;
    width: clamp(8rem, 80vw, 40rem);
    margin: 1rem;
    margin-bottom: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.save-buttons {
    margin: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.playlist-type {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

p {
    margin: 1rem;
    text-align: center;
}

.save-progress {
    text-align: center;
    margin: 0 1rem;
}

.saving-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
}